*{
    margin: 0;
    padding: 0;
}

.head{
    text-align: center;
    color: #f9f4e8;
    background-color: #1f3c5c;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.clotchFoCat{
    color: #f9f4e8;
    font-family: 'Times New Roman', Times, serif ;
    font: bold;
    font-size: 20px;
    margin-top: 17px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.nameOfCloth{
    color: #f9f4e8;
    font-family: 'Times New Roman', Times, serif ;
    text-align: center;
    font-size: 17px;
    text-shadow: 1px 1px 1px #314c6f;
}

.img1{
    border: 4px solid  #1f3c5c;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 10px;
}

.img2{
    border: 4px solid  #1f3c5c;
    border-radius: 8px;
    margin-top: 55px;
    margin-left: 90px;
}

.forDivImg{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 50px;
    margin-top: 30px;
}

button{
    color: #f4ebde;
    font-family: 'Times New Roman', Times, serif ;
    background-color: #1f3c5c;
    border: 7px solid  #1f3c5c;
    border-radius: 8px;
    font-size: 22px;
    text-align: center;
}

.divBtn1{
    margin-top: 10px;
    margin-left: 30px;
}

button:hover{
    color: #1f3c5c;
    background-color: #f4ebde;
    border: 7px solid  #f4ebde;
}

.divBtn2{
    margin-top: 7px;
    margin-left: 140px;
}

.img4{
    margin-left: 1470px;
    object-fit: cover;
    position: absolute;
}

.img4:hover{
    background-color: #1f3c5c;
}

.divBtn5{
    margin-top: 7px;
    margin-left: 127px;
}

.img5{
    border: 4px solid  #1f3c5c;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 70px;
}

.price{
    margin-left: 1260px;
    margin-top: 10px;
    object-fit: cover;
    position: absolute;
}